.container {
  width: auto;
}

@media #{$tablet-widths} {
  .container {
    min-width: 768px;
  }
}

@media #{$desktop-widths} {
  .container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 30px -15px #000000;
  }
}
