.find-hotel {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.find-hotel__head {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
}

.find-hotel__paragraph {
  margin-top: 19px;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
}

@media #{$mobile-widths-only} {
  .find-hotel {
    margin-bottom: 49px;
  }

  .find-hotel__paragraph {
    padding: 0 15px;
  }

  .find-hotel__paragraph br {
    display: none;
  }

  .find-hotel__btn {
    padding: 16px 0;
    margin: 0 20px;
  }
}

@media #{$tablet-widths} {
  .find-hotel {
    margin: 0 155px;
    margin-bottom: 58px;
  }

  .find-hotel__head {
    font-size: 30px;
    line-height: 39px;
  }

  .find-hotel__paragraph {
    margin-top: 25px;
    margin-bottom: 45px;
  }
}

@media #{$desktop-widths} {
  .find-hotel {
    margin: 0 155px;
    margin-bottom: 63px;
  }

  .find-hotel__btn {
    margin: 0 auto;
    width: 460px;
    padding: 17px 0;
  }
}
