.gallery-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

@media #{$mobile-widths-only} {
  .gallery-block {
    border-top: 1px solid #e5e5e5;
  }
}

@media #{$tablet-widths} {
  .gallery-block {
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

@media #{$desktop-widths} {
  .gallery-block {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
  }
}
