.main-form-fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 0;
  border: none;
}

.main-form-fieldset::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.main-form-input-box {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.main-form__head-fieldset {
  margin-bottom: 23px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.main-form-introduce__input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.main-form-introduce__input-label:last-of-type {
  margin-bottom: 25px;
}

.main-form-introduce__input-name {
  margin-right: 14px;
}

.main-form-introduce__input {
  flex-grow: 1;
  padding: 20px 22px;
  border: none;
  background-color: #f2f2f2;
}

.main-form-contact-info__input-label {
  margin-left: 22px;
  margin-bottom: 9px;
}

.main-form-contact__input {
  position: relative;
  width: auto;
  padding: 18px 22px;
  border: none;
  background-color: #f2f2f2;
}

.main-form-contact__input::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 58px;
  height: 58px;
  background-color: red;
}

.main-form-contact__input-tel::after {
  
}

@media #{$tablet-widths} {
  .main-form-input-box {
    display: flex;
    flex-direction: column;
  }

  .main-form-introduce {
    width: 324px;
  }

  .main-form-total-exp {
    width: 324px;
    order: -1;
  }

  .main-form-contact-info {
    width: 648px;
  }

  .main-form-visited-place {
    width: 648px;
  }

  .main-form-input-box-visited {
    align-items: center;
  }

  .main-form-emotions {
    width: 648px;
  }
}

@media #{$desktop-widths} {
  .main-form-introduce {
    width: 400px;
    margin-left: 160px;
  }

  .main-form-total-exp {
    width: 400px;
  }

  .main-form-contact-info {
    width: 960px;
  }

  .main-form-visited-place {
    width: 960px;
  }

  .main-form-input-box-visited {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-form-emotions {
    width: 960px;
  }
}
