.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__img {
  width: auto;
  height: 389px;
  background-color: #b3c9e0;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.main-header__img-other-pages {
  height: 160px;
}

@media #{$mobile-widths-only} {
  .main-header__img {
    margin-top: -35px;
    margin-bottom: 42px;
  }

  .main-header__logo-nav-mobile {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: -56px;
  }
}

@media #{$tablet-widths} {
  .main-header__logo-nav-mobile {
    display: none;
  }

  .main-header__img {
    width: auto;
  }

  .main-header__img-other-pages {
    height: 190px;
  }
}

@media #{$desktop-widths} {
  .main-header__img {
    width: 1200px;
  }

  .main-header__img-other-pages {
    height: 200px;
  }
}
