.main-form-fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.main-form-input-box {
  display: flex;
  flex-direction: column;
}

.main-form__head-fieldset {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

@media #{$tablet-widths} {
  .main-form-input-box {
    display: flex;
    flex-direction: column;
  }
  
  .main-form-introduce {
    width: 324px;
  }
  
  .main-form-total-exp {
    width: 324px;
    order: -1;
  }
  
  .main-form-contact-info {
    width: 648px;
  }
  
  .main-form-visited-place {
    width: 648px;
  }
  
  .main-form-input-box-visited {
    align-items: center;
  }
  
  .main-form-emotions {
    width: 648px;
  }
}

@media #{$desktop-widths} {
  .main-form-introduce {
    width: 400px;
    margin-left: 160px;
  }
  .main-form-total-exp {
    width: 400px;
  }
  .main-form-contact-info {
    width: 960px;
  }
  .main-form-visited-place {
    width: 960px;
  }
  .main-form-input-box-visited {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-form-emotions {
    width: 960px;
  }
}
