.main-navigation__list {
  @include list-styles;
}

@media #{$mobile-widths-only} {
  .main-header__logo-nav-tablet {
    display: none;
  }

  .main-navigation {
    display: none;
    margin-bottom: 56px;
  }

  .main-navigation__list-item {
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
  }

  .main-navigation__link {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #678fa8;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: $blue-color;
    box-shadow: inset 0 1px 0 0 #9ac2db;

    &:hover {
      background-color: $hover-style;
    }

    &:active {
      color: $active-style-text;
      background-color: $active-style;
    }
  }

  .main-navigation__list:last-of-type .main-navigation__list-item:last-of-type .main-navigation__link {
    border-bottom: none;
    box-shadow:
      inset 0 -6px 15px -10px #000000,
      inset 0 1px 0 0 #9ac2db;
  }

  .main-navigation__link--active {
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;
    width: 23px;
    height: 23px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: -1px;
      width: 25px;
      height: 5px;
      background-color: white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-navigation__link--now {
    cursor: default;

    &:hover {
      background-color: $blue-color;
    }

    &:active {
      color: rgba(255, 255, 255, 1);
      background-color: none;
    }
  }

  .main-navigation--opened {
    display: block;
  }
}

@media #{$tablet-widths} {
  .main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-header__logo-nav-tablet {
    position: relative;
    z-index: 1;
    min-width: 102px;
    height: 56px;
  }

  .main-navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 333px;
    min-height: 56px;
  }

  .main-navigation__list-1 {
    margin-right: 7%;
    margin-left: 6.4%;
  }

  .main-navigation__list-2 {
    margin-right: 3.4%;
    margin-left: 7%;
  }

  .main-navigation__list-item {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
  }

  .main-navigation__link {
    padding-top: 19px;
    padding-bottom: 19px;
    text-decoration: none;
    color: #000000;

    &:hover {
      color: $blue-color;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

@media #{$desktop-widths} {
  .main-header__logo-nav-tablet img {
    width: 187px;
    height: 97px;
  }
}
