.map {
  width: auto;
  height: 350px;
  background-color: #d1d9cf;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media #{$tablet-widths} {
  .map {
    width: auto;
  }
}

@media #{$desktop-widths} {
  .map {
    width: 1200px;
  }
}
