.page-brief-info {
  padding: 0 30px;
  margin-bottom: -10px;
  text-align: center;
}

.page-brief-info__head {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.page-brief-info__paragraph {
  margin-top: 25px;
  font-size: 14px;
  line-height: 26px;
}

.page-brief-info--other-p {
  padding: 0 25px;
  margin-top: -4px;
}

.page-brief-info--other-pa {
  padding: 0 20px;
  margin-top: -5px
}

@media #{$tablet-widths} {
  .page-brief-info {
    padding: 0 100px;
    margin-bottom: 40px;
  }

  .page-brief-info--other-p {
    padding: 0 170px;
    margin-top: 55px;
    margin-bottom: 40px;
  }

  .page-brief-info--other-p .page-brief-info__head {
    font-size: 30px;
    line-height: 39px;
  }

  .page-brief-info--other-p .page-brief-info__paragraph {
    padding: 0 80px;
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .page-brief-info__head {
    font-size: 21px;
    line-height: 26px;
  }

  .page-brief-info__paragraph {
    margin-top: 23px;
  }

  .page-brief-info--other-pa {
    padding: 0 165px;
    margin-top: 20px;
  }

  .page-brief-info__head-other {
    font-size: 30px;
    line-height: 39px;
  }
}

@media #{$desktop-widths} {
  .page-brief-info {
    padding: 0 300px;
    margin-bottom: 36px;
  }

  .page-brief-info--other-pa {
    padding: 0 380px;
    margin-top: 55px;
    margin-bottom: 30px;
  }

  .page-brief-info--other-pa .page-brief-info__head {
    font-size: 30px;
    line-height: 39px;
  }

  .page-brief-info__head {
    font-size: 21px;
    line-height: 26px;
  }

  .page-brief-info__paragraph {
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
  }

  .page-brief-info--other-pa .page-brief-info__paragraph {
    margin-top: 25px;
  }
}
