.page-brief-info {
  padding: 0 30px;
  margin-bottom: 24px;
  text-align: center;
}

.page-brief-info__head {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.page-brief-info__paragraph {
  font-size: 14px;
  line-height: 26px;
}

@media #{$tablet-widths} {
  .page-brief-info__head {
    font-size: 30px;
    line-height: 39px;
  }
}
