.photo-block__picture {
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
}

.photo-block__picture-1 {
  background-color: #feeca9;
  background-image: url("../../img/photo-sunset-mobile@1x.jpg");
}

.photo-block__picture-2 {
  background-color: #e4dfc1;
  background-image: url("../../img/photo-cactus-mobile@1x.jpg");
}

.photo-block__picture-3 {
  background-color: #46623d;
  background-image: url("../../img/photo-roads-mobile@1x.jpg");
}

.photo-block__picture-4 {
  background-color: #dea893;
  background-image: url("../../img/photo-bridge-mobile@1x.jpg");
}
