.photo-block {
  display: flex;
  flex-direction: column;
}

.photo-block__picture {
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
}

.photo-block__picture-1 {
  background-color: #feeca9;
  background-image: url("../../img/photo-sunset-mobile@1x.jpg");
}

.photo-block__picture-2 {
  background-color: #e4dfc1;
  background-image: url("../../img/photo-cactus-mobile@1x.jpg");
}

.photo-block__picture-3 {
  background-color: #46623d;
  background-image: url("../../img/photo-roads-mobile@1x.jpg");
}

.photo-block__picture-4 {
  background-color: #dea893;
  background-image: url("../../img/photo-bridge-mobile@1x.jpg");
}

.photo-block__index {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.photo-block__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.photo-block__likes {
  display: flex;
}

.photo-block__likes--number {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

@media #{$tablet-widths} {
  .photo-block--wide-condition {
    width: 648px;
  }

  .photo-block__picture {
    width: 324px;
    height: 267px;
  }

  .photo-block--wide-picture {
    width: 648px;
    height: 400px;
  }

  .photo-block__under-info {
    display: flex;
    justify-content: space-between;
  }
}

@media #{$desktop-widths} {
  .photo-block--wide-condition {
    width: 1200px;
  }

  .photo-block__picture {
    width: 400px;
    height: 267px;
  }

  .photo-block--wide-picture {
    width: 1200px;
  }
}
