.reasons-1__img {
  width: 320px;
  height: 260px;
  
  background-color: #f8e5e1;
  background-image: url("../../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.reasons-2__img {
  width: 320px;
  height: 260px;
  
  background-color: #dea893;
  background-image: url("../../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
}