.reasons-brief {
  text-align: center;
}

.reasons-brief--blue {
  background-color: $blue-color;
}

.reasons-brief--white-text {
  color: #ffffff;
}

.reasons-brief--white-text .reasons-brief__head {
  color: #ffffff;
}

.reasons-brief__head {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.reasons-brief__count {
  padding-top: 8px;
}

.reasons-brief__count-b {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.reasons-brief__paragraph {
  font-size: 14px;
  line-height: 21px;
}

@media #{$mobile-widths-only} {
  .reasons-brief {
    padding-top: 25px;
  }

  .reasons-brief--blue {
    padding-top: 42px;
    padding-bottom: 28px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $blue-color;
  }

  .reasons:nth-of-type(1) .reasons-brief--blue {
    position: relative;
    padding-top: 80px;
    padding-right: 28px;
    padding-left: 28px;
  }

  .reasons-brief--grey {
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #d6d6d6;
  }

  .reasons-brief--grey .reasons-brief__paragraph {
    margin-top: 16px;
  }

  .reasons-brief__head {
    font-size: 18px;
    line-height: 26px;
  }

  .reasons--grey:last-of-type .reasons-brief {
    border: 0;
  }
}

@media #{$tablet-widths} {
  .reasons-brief {
    padding: 40px 40px;
  }

  .reasons:nth-of-type(1) .reasons-brief__paragraph {
    padding: 0 5px;
  }

  .reasons-brief--blue {
    width: 22.5%;
    padding: 40px 40px;
  }

  .reasons--grey:nth-of-type(2) .reasons-brief {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media #{$desktop-widths} {
  .reasons-brief {
    padding: 40px 40px;
  }

  .reasons-brief--blue {
    padding: 50px 60px;
  }

  .reasons-brief--blue .reasons-brief__paragraph {
    padding: 0 20px;
  }

  .reasons--grey:nth-of-type(2) .reasons-brief__paragraph {
    padding: 0 30px;
  }
}
