.video-block {
  text-align: center;
}

.video-block__index {
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

.video-block__paragraph {
  font-size: 14px;
  line-height: 24px;
}

.video-block__video {
  width: 320px;
  height: 200px;
  background-color: #736942;
  background-image: url("../../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media #{$tablet-widths} {
  .video-block {
    padding: 0 60px;
  }
  .video-block__video {
    width: 648px;
    height: 500px;
  }
}

@media #{$desktop-widths} {
  .video-block {
    padding: 0 200px;
  }
  .video-block__video {
    width: 800px;
    height: 500px;
  }
}
